html{
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: rgb(31, 25, 25);
    font-size: 1.2rem;
    color: white;
}
body{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
header{
    margin: 4vh auto;
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.gameBoard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}
.row{
    width: 100%;
    display: grid;
    grid-gap: 5px;
    margin: 2.5px auto;
    grid-template-columns: repeat(5, 48px);
    grid-template-rows: 48px;
}
.tile{
    display: flex;
    justify-content: center;
    align-items: center;
    animation-iteration-count: 1;
}

.keyboardModule{
    display: inline-block;
    margin: 4vh auto;
    width: 50ch;
}
.keyboardRow{
    display: flex;
    justify-content: center;
}
.keyboardKey{
    flex-basis: 48px;
    height: 48px;
    border-radius: 5px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#delKey{
    flex-basis: 64px;
}
#enterKey{
    flex-basis: 64px;
}

footer{
    margin: auto;
    display: flex;
    justify-items: center;
    bottom: 0px;
    width: 100%;
}
footer p{
    margin: 0 auto;
    text-align: center;
    padding: 0.5rem 0px;
}

.splash{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.popupMsg{
    font-size: 1.5em;
    margin: 0px auto;
    margin-top: 14.5vh;
    text-align: center;
    width: fit-content;
    height: max-content;
    padding: 5px 15px;
    border: solid 2px white;
    border-radius: 5px;
    background-color: darkslategray;
}
.popupInfo{
    font-size: 1em;
    margin: 0px auto;
    margin-top: 20vh;
    text-align: center;
    width: fit-content;
    height: max-content;
    padding: 5px 15px;
    border: solid 2px white;
    border-radius: 5px;
    background-color: darkslategray;
}
#b_closePopupInfo{
    width: fit-content;
    height: fit-content;
    position: relative;
    float: inline-end;
    color: white;
    background: none;
    border: solid 1px rgba(255, 255, 255, 0.327);
    border-radius: 5px;
    font-size: 1em;
}
#b_closePopupInfo:hover{
    text-shadow: 0px 0px 2px white;
    box-shadow: 0px 0px 2px 1px white;
}

.visible {
    visibility: visible;
    opacity: 1;
    /* transition: opacity 0s linear; */
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.focus {
    background-color: rgba(0, 0, 0, 0.37);
}

/* animations */
@keyframes flip {
    0% { transform: rotateX(0); }
    45% { transform: rotateX(90deg); }
    55% { transform: rotateX(90deg); }
    100% { transform: rotateX(0); }
}

@keyframes shake{
    0% { transform: translateX(0%) }
    11% { transform: translateX(-5%) }
    22% { transform: translateX(5%) }
    33% { transform: translateX(-3%) }
    44% { transform: translateX(3%) }
    55% { transform: translateX(-2%) }
    66% { transform: translateX(2%) }
    77% { transform: translateX(-1%) }
    88% { transform: translateX(1%) }
    100% { transform: translateX(0%) }
}